---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-llamastack-io-v1alpha2-llamastackdistribution
  failurePolicy: Fail
  name: vllamastackdistribution.kb.io
  rules:
  - apiGroups:
    - llamastack.io
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - llamastackdistributions
  sideEffects: None
